*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
  }

body{
    background-color: $secondary-background;
    overflow-x: hidden;
}
::-moz-selection {
    background-color: $darker-blue;
    color: $secondary-background;
  }
  
  ::selection {
    background-color: $darker-blue;
    color: $secondary-background;
  }

.hero-pattern{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    height: calc(100vh + 1px);
    width: auto;
    z-index: 9999;
    transform: rotateZ(180deg);
}