*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
  }

body{
    background-color: $secondary-background;
    overflow-x: hidden;
}



.hero-pattern{
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: auto;
    z-index: 9999;
}