
/* FOOTER FOR BIG SCREENS */
footer#contact.big-screen {
    width: 100vw;
    height: auto;
    height: auto; 
    margin: 0px;
    padding: 20px 80px;
    // border: $border-check-2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media only screen and (max-width: 1100px) {
      padding: 20px 60px;
     }
    
    @media only screen and (max-width: 700px) {
      padding: 20px 40px;
     }
    @media only screen and (max-width: 400px) {
      padding: 20px 30px;
     }
    article{
      &:not(:last-child){
        margin-bottom: 60px;

        @media only screen and (max-width: 500px) {
          margin-bottom: 40px;
        }
      }

      &.upper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-bottom: 100px;
        @media only screen and (max-width: 500px) {
          margin-bottom: 60px;
        }

        h2{
          width: 40%;
          margin-bottom: 40px;
          text-align: center;

          @media only screen and (max-width: 1500px) {
            width: 50%;
        }
        
        @media only screen and (max-width: 1300px) {
            width: 60%;
           }
          @media only screen and (max-width: 1200px) {
            width: 50%;
            font-size: 40px;
           }
          @media only screen and (max-width: 1100px) {
            width: 62%;
           }
          @media only screen and (max-width: 900px) {
            width: 70%;
            font-size: 36px;
           }
           @media only screen and (max-width: 800px) {
            width: 80%;
           }
           @media only screen and (max-width: 700px) {
            width: 80%;
            font-size: 34px;
           }
           
           @media only screen and (max-width: 600px) {
            width: 80%;
            font-size: 28px;
          }
           @media only screen and (max-width: 600px) {
            width: 100%;
            margin-bottom: 36px;
          }
          @media only screen and (max-width: 360px) {
            font-size: 26px;
            line-height: 32px;
        }
        @media only screen and (max-width: 320px) {
          font-size: 25px;
          line-height: 30px;
      }
        }

        p{
          line-height: 30px;
          text-align: center;
          // margin-bottom: 60px;

          @media only screen and (max-width: 700px) {
            width: 70%;
           }
           @media only screen and (max-width: 600px) {
            width: 100%;
          }
          @media only screen and (max-width: 500px) {
            width: 100%;
            font-size: 18px;
            line-height: 28px;
            font-weight: 400;
        }
        @media only screen and (max-width: 320px) {
          font-size: 16px;
          line-height: 26px;
      }
      }
      }

      &.mid{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        @media only screen and (max-width: 900px) {
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
        @media only screen and (max-width: 500px) {
          height: 250px;
        }
         
    
            .logo{

              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              a {
                width: 120px;
                height: auto;
                outline: none;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                  
                  img {
                  width: 120px;
                  height: auto;
                  }
              }
              
          }

          .contact-info{
            display: flex;
            flex-basis: 500px;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            @media only screen and (max-width: 1200px) {
              flex-basis: 480px;
            }
            @media only screen and (max-width: 1000px) {
              flex-basis: 440px;
            }
            @media only screen and (max-width: 950px) {
              flex-basis: 400px;
            }
            @media only screen and (max-width: 900px) {
              flex-basis: 220px;
            }
            @media only screen and (max-width: 500px) {
              flex-direction: column;
              justify-content: center;
              align-items: center;
              
            }
            
            .mail-phone{
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              
              @media only screen and (max-width: 900px) {
                margin-right: 60px;
              }
              @media only screen and (max-width: 500px) {
                margin-right: 0px;
                margin-bottom: 30px;
              }
              p{
                font-size: $paragraph-font-size-2;

                &:not(:last-child){
                  margin-bottom: 10px;
                }
                @media only screen and (max-width: 500px) {
                  font-size: 14px;
                }
              }
            }

            .address{
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              p{
                font-size: $paragraph-font-size-2;

                &:not(:last-child){
                  margin-bottom: 10px;
                }
                @media only screen and (max-width: 500px) {
                  font-size: 14px;
                }
              }
            }
          }


          .social-icons{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            // width: 40%;

            a{
                width: 22px;
                height: 22px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                // transition: all .3s ease;

                &:hover {
                  filter: hue-rotate(264deg) brightness(.42) saturate(2);
                }

                img{
                    width: 100%;
                    height: 100%;
                }

                &:not(:last-child){
                  margin-right: 16px;
                }
            }
        }
      }

      &.lower{
        p{
          font-size: $paragraph-font-size-3;
          opacity: .5;
          @media only screen and (max-width: 500px) {
            font-size: 12px;
          }
        }
      }
    }

}



/* MEDIA QUERIES STARTS */
/* 1160px */
// @media only screen and (max-width: 1160px) {
//     footer.big-screen {
//        display: none;
//      }
//     footer.small-screen {
//        display: block;
//      }
//  }
// /* 1161px */
// @media only screen and (min-width: 1161px) {
//      footer.big-screen {
//         display: block;
//       }
//      footer.small-screen {
//         display: none;
//       }
//  }
 /* MEDIA QUERIES ENDS */