
/* HEADER FOR BIG SCREENS */
header.big-screen {
    position: fixed;
    // position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: $secondary-background;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 80px;
    z-index: 999;
    padding: 20px 80px;
    // border: $border-check-1;


    
    
    .logo{
        // border: $border-check-2;        
        flex-basis: 120px;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            a {
              width: 120px;
              height: auto;
              outline: none;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              cursor: pointer;
                
                img {
                width: 120px;
                height: auto;
                }
            }
        
        
    }
    .menu-btn{
        width: 80px;
        // margin-right: 624px;
       
        button{
            width: 80px;
            border: none;
            outline: none;
            background-color: transparent;
            font-family: $font-family-2;
            font-size: $paragraph-font-size-2;
            color: $main-text-color;
            font-weight: 400;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            cursor: pointer;

            .menu-icon{
                // border: $border-check-2;
                width: 20px;
                height: 20px;
                display: grid;
                grid-template-columns: 4px 4px 4px;
                grid-template-rows: 4px 4px 4px;
                grid-gap: 4px;
                align-items: center;
                justify-content: center;
                div{
                    width: 4px;
                height: 4px;
                background-color: $darker-blue;
                }
            }
        }
    } 
    
  

}

/* HEADER FOR SMALL SCREENS */
header.small-screen{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    // background-color: $main-blue;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 80px;
    z-index: 999;
    padding: 22px 48px;

  
}



/* MEDIA QUERIES STARTS */
/* 1160px */
@media only screen and (max-width: 1160px) {
    header.big-screen {
        display: none;
      }
    header.small-screen {
       display: flex;
     }
 }
/* 1161px */
@media only screen and (min-width: 1161px) {
    header.big-screen {
        display: flex;
      }
    header.small-screen {
       display: none;
     }
 }
 /* MEDIA QUERIES ENDS */