
/* HEADER FOR BIG SCREENS */
header.big-screen {
    position: fixed;
    // position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: $secondary-background;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 80px;
    z-index: 9999;
    padding: 20px 80px;
    // border: $border-check-1;


@media only screen and (max-width: 1100px) {
  padding: 20px 60px;
 }

@media only screen and (max-width: 700px) {
  padding: 20px 40px;
 }
@media only screen and (max-width: 400px) {
  padding: 20px 30px;
 }
    
    
    .logo{
        // border: $border-check-2;        
        flex-basis: 120px;
        z-index: 99999;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            a {
              width: 120px;
              height: auto;
              outline: none;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              cursor: pointer;
                
                img {
                width: 120px;
                height: auto;
                }
            }
        
        
    }
    .menu-btn{
        width: 80px;
        // margin-right: 624px;
        z-index: 99999;

        button{
            width: 80px;
            border: none;
            outline: none;
            background-color: transparent;
            font-family: $font-family-2;
            font-size: $paragraph-font-size-2;
            color: $main-text-color;
            font-weight: 400;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            cursor: pointer;

            .menu-icon{
                // border: $border-check-2;
                width: 20px;
                height: 20px;
                display: grid;
                grid-template-columns: 4px 4px 4px;
                grid-template-rows: 4px 4px 4px;
                grid-gap: 4px;
                align-items: center;
                justify-content: center;
                position: relative;

                &::before{
                  content: '';
                  position: absolute;
                  top: 75%;
                  left: 1%;
                  transform: translate(-50%, -50%) rotate(-45deg) scaleY(0);
                  transform-origin: 0 0;
                  width: 2px;
                  height: 28px;
                  background-color: $main-magenta;
                  transition: all .3s ease;
                }
                &::after{
                  content: '';
                  position: absolute;
                  top: 73%;
                  left: 97%;
                  transform: translate(-50%, -50%) rotate(45deg) scaleY(0);
                  transform-origin: 100% 0;
                  width: 2px;
                  height: 28px;
                  background-color: $main-magenta;
                  transition: all .3s ease;
                }

                &.clicked::before{
                  transform: translate(-50%, -50%) rotate(-45deg) scaleY(1);
                }
                &.clicked::after{
                  transform: translate(-50%, -50%) rotate(45deg) scaleY(1);
                }
                div{
                    width: 4px;
                    height: 4px;
                    background-color: $darker-blue;
                }
            }
        }
    } 
    
  nav{
    position: fixed;
    // top: -640px;
    // top: 0px;
    top: 50%;
    left: 50%;
    // right: 0;
    // transform: translate(-50%, -1200px);
    transform: translate(-50%, -50%);
    clip-path: circle(0% at 50% 0);
    // display: none;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: $primary-background;
    padding:0px 48px 0 310px;
    // transition: all .7s ease;
    transition: all .7s cubic-bezier(0.77,-0.01, 0.59, 0.87);

    @media only screen and (max-width: 1300px) {
      padding:0px 0px 0 280px;
    }

    @media only screen and (max-width: 1200px) {
      padding:0px 0px 0 170px;
    }
    @media only screen and (max-width: 800px) {
      padding:0px 0px 0 140px;
    }
    @media only screen and (max-width: 500px) {
      padding:0px 0px 0 115px;
    }
    @media only screen and (max-width: 400px) {
      padding:0px 0px 0 95px;
    }
    @media only screen and (max-width: 360px) {
      padding:0px 0px 0 84px;
    }


      ul {
        list-style: none;

        &.menu-items{
     
          li{
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            
            
            transition: all 0.5s ease;


            &:not(:last-child){
              margin-bottom: 30px;

              @media only screen and (max-width: 900px) {
                margin-bottom: 28px;
              }
              @media only screen and (max-width: 700px) {
                margin-bottom: 24px;
              }
              @media only screen and (max-width: 400px) {
                margin-bottom: 20px;
              }
              @media only screen and (max-width: 400px) {
                margin-bottom: 18px;
              }
            }
            a{
              text-decoration: none;
              font-family: $font-family-1;
              font-size: $heading-1-font-size;
              color: $main-text-color;
              // transition: all .5s ease; 
              clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
              transition: all .5s cubic-bezier(0.77,-0.01, 0.59, 0.87);
              transform: translateY(40px);

              @media only screen and (max-width: 1300px) {
                font-size: 48px;
              }
              @media only screen and (max-width: 1000px) {
                font-size: 42px;
              }
              @media only screen and (max-width: 900px) {
                font-size: 36px;
              }
              @media only screen and (max-width: 700px) {
                font-size: 34px;
              }
              @media only screen and (max-width: 400px) {
                font-size: 32px;
              }
              @media only screen and (max-width: 400px) {
                font-size: 30px;
              }
            }
            &::before{
              content: url('../../assets/images/right-arrow-blue.svg');
              position: absolute;
              top: 50%;
              left: -60px;
              transform: translate(-50%, -50%);
              opacity: 0;
              // display: none;
              transition: all .5s ease; 
             
              @media only screen and (max-width: 900px) {
                transform: translate(-50%, -50%) scale(0.9);
              }
              @media only screen and (max-width: 700px) {
                transform: translate(-50%, -50%) scale(0.8);
              }
              @media only screen and (max-width: 500px) {
                transform: translate(-50%, -50%) scale(0.7);
                left: -40px;
              }
              @media only screen and (max-width: 400px) {
                transform: translate(-50%, -50%) scale(0.7);
                left: -32px;
              }
              @media only screen and (max-width: 400px) {
                transform: translate(-50%, -50%) scale(0.6);
                left: -25px;
              }
            }
            
            &:hover::before{
              // display: block;
              opacity: 1;
            }

            &:hover a{
              transition: all .5s ease; 
              color: $main-blue;
              margin-left: 60px;

              @media only screen and (max-width: 1300px) {
                transition: all .4s ease; 
                margin-left: 40px;
              }
              @media only screen and (max-width: 1000px) {
                transition: all .3s ease; 
                margin-left: 30px;
              }
           
             
             
            }
          }
        }
        &.contact{
          position: absolute;
          bottom: 0%;
          right: 0px;
          transform: translate(-50%, -50%);

          @media only screen and (max-width: 1200px) {
            right: -68px;
          }
          @media only screen and (max-width: 600px) {
            position: relative;
            top: 28%;
            left: 50%;
            width: 100%;
            right: 0px;
          }
          li{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: center;

            @media only screen and (max-width: 600px) {
              align-items: flex-start;
            }

           p{
            font-family: $font-family-1;
            font-size: 24px;
            color: $main-text-color;
            font-weight: 700;
            text-align: right;
            margin-bottom: 10px;
            clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
            transition: all .5s cubic-bezier(0.77,-0.01, 0.59, 0.87);
            transform: translateY(20px);

            
            @media only screen and (max-width: 1300px) {
              margin-bottom: 6px;
              font-size: 22px;
            }
            @media only screen and (max-width: 1000px) {
              margin-bottom: 4px;
              font-size: 18px;
            }
            @media only screen and (max-width: 600px) {
              text-align: left;
            }
            @media only screen and (max-width: 400px) {
              font-size: 18px;
            }
            @media only screen and (max-width: 360px) {
              font-size: 17px;
            }
           }
            a{
              text-decoration: none;
              font-family: $font-family-2;
              font-size: 28px;
              color: $darker-blue;
              text-align: right;
              transition: all .5s ease; 
              clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
              transition: all .5s cubic-bezier(0.77,-0.01, 0.59, 0.87);
              transform: translateY(20px);

                
              @media only screen and (max-width: 1300px) {
                font-size: 26px;
              }
              @media only screen and (max-width: 1000px) {
                font-size: 24px;
              }
              @media only screen and (max-width: 700px) {
                font-size: 22px;
              }

              @media only screen and (max-width: 600px) {
                text-align: left;
              }
              @media only screen and (max-width: 400px) {
                font-size: 20px;
              }
              @media only screen and (max-width: 360px) {
                font-size: 19px;
              }
            }

         
          }
        }
      }
  }

}





/* MEDIA QUERIES STARTS */
/* 1160px */
// @media only screen and (max-width: 1160px) {
//     header.big-screen {
//         display: none;
//       }
//     header.small-screen {
//        display: flex;
//      }
//  }
// /* 1161px */
// @media only screen and (min-width: 1161px) {
//     header.big-screen {
//         display: flex;
//       }
//     header.small-screen {
//        display: none;
//      }
//  }
 /* MEDIA QUERIES ENDS */