@-webkit-keyframes moveToRight {
  50% {
    -webkit-transform: translate(8px, 0px);
            transform: translate(8px, 0px);
  }
}

@keyframes moveToRight {
  50% {
    -webkit-transform: translate(8px, 0px);
            transform: translate(8px, 0px);
  }
}

@-webkit-keyframes menuDown {
  0% {
    top: -640px;
  }
  100% {
    top: 0px;
  }
}

@keyframes menuDown {
  0% {
    top: -640px;
  }
  100% {
    top: 0px;
  }
}

@-webkit-keyframes itemAppear {
  0% {
    -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
            clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
    -webkit-transform: translateY(25px);
            transform: translateY(25px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}

@keyframes itemAppear {
  0% {
    -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
            clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
    -webkit-transform: translateY(25px);
            transform: translateY(25px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #FCFFFF;
  overflow-x: hidden;
}

::-moz-selection {
  background-color: #3913B8;
  color: #FCFFFF;
}

::selection {
  background-color: #3913B8;
  color: #FCFFFF;
}

::-webkit-scrollbar {
  -webkit-transition: all 0.8s ease-in;
  transition: all 0.8s ease-in;
  width: 0px;
}

::-webkit-scrollbar-track {
  -webkit-transition: all 0.8s ease-in;
  transition: all 0.8s ease-in;
  background: #FCFFFF;
}

::-webkit-scrollbar-thumb {
  -webkit-transition: all 0.8s ease-in;
  transition: all 0.8s ease-in;
  background: rgba(57, 19, 184, 0.1);
}

/*! locomotive-scroll v3.3.11 | MIT License | https://github.com/locomotivemtl/locomotive-scroll */
/* START */
/* END */
body {
  font-family: "Roboto", sans-serif;
  color: #13063D;
  font-size: 20px;
}

.heading-primary {
  font-family: "Roboto", sans-serif;
  font-size: 54px;
  line-height: 65px;
  font-weight: 700;
  color: #007AFF;
}

.heading-secondary {
  font-family: "Roboto", sans-serif;
  font-size: 42px;
  font-weight: 700;
  color: #007AFF;
}

.heading-tertiary {
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: 700;
  color: #13063D;
}

.paragraph {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  color: #13063D;
}

.paragraph--regular {
  font-weight: 400;
}

.paragraph--medium {
  font-weight: 500;
}

.paragraph--bold {
  font-weight: 700;
}

/* HEADER FOR BIG SCREENS */
header.big-screen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #FCFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100vw;
  height: 80px;
  z-index: 9999;
  padding: 20px 80px;
}

@media only screen and (max-width: 1100px) {
  header.big-screen {
    padding: 20px 60px;
  }
}

@media only screen and (max-width: 700px) {
  header.big-screen {
    padding: 20px 40px;
  }
}

@media only screen and (max-width: 400px) {
  header.big-screen {
    padding: 20px 30px;
  }
}

header.big-screen .logo {
  -ms-flex-preferred-size: 120px;
      flex-basis: 120px;
  z-index: 99999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header.big-screen .logo a {
  width: 120px;
  height: auto;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

header.big-screen .logo a img {
  width: 120px;
  height: auto;
}

header.big-screen .menu-btn {
  width: 80px;
  z-index: 99999;
}

header.big-screen .menu-btn button {
  width: 80px;
  border: none;
  outline: none;
  background-color: transparent;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #13063D;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
}

header.big-screen .menu-btn button .menu-icon {
  width: 20px;
  height: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 4px 4px 4px;
      grid-template-columns: 4px 4px 4px;
  -ms-grid-rows: 4px 4px 4px;
      grid-template-rows: 4px 4px 4px;
  grid-gap: 4px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

header.big-screen .menu-btn button .menu-icon::before {
  content: '';
  position: absolute;
  top: 75%;
  left: 1%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg) scaleY(0);
          transform: translate(-50%, -50%) rotate(-45deg) scaleY(0);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  width: 2px;
  height: 28px;
  background-color: #FF5A6D;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

header.big-screen .menu-btn button .menu-icon::after {
  content: '';
  position: absolute;
  top: 73%;
  left: 97%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg) scaleY(0);
          transform: translate(-50%, -50%) rotate(45deg) scaleY(0);
  -webkit-transform-origin: 100% 0;
          transform-origin: 100% 0;
  width: 2px;
  height: 28px;
  background-color: #FF5A6D;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

header.big-screen .menu-btn button .menu-icon.clicked::before {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg) scaleY(1);
          transform: translate(-50%, -50%) rotate(-45deg) scaleY(1);
}

header.big-screen .menu-btn button .menu-icon.clicked::after {
  -webkit-transform: translate(-50%, -50%) rotate(45deg) scaleY(1);
          transform: translate(-50%, -50%) rotate(45deg) scaleY(1);
}

header.big-screen .menu-btn button .menu-icon div {
  width: 4px;
  height: 4px;
  background-color: #3913B8;
}

header.big-screen nav {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-clip-path: circle(0% at 50% 0);
          clip-path: circle(0% at 50% 0);
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #FFFFFF;
  padding: 0px 48px 0 310px;
  -webkit-transition: all 0.7s cubic-bezier(0.77, -0.01, 0.59, 0.87);
  transition: all 0.7s cubic-bezier(0.77, -0.01, 0.59, 0.87);
}

@media only screen and (max-width: 1300px) {
  header.big-screen nav {
    padding: 0px 0px 0 280px;
  }
}

@media only screen and (max-width: 1200px) {
  header.big-screen nav {
    padding: 0px 0px 0 170px;
  }
}

@media only screen and (max-width: 800px) {
  header.big-screen nav {
    padding: 0px 0px 0 140px;
  }
}

@media only screen and (max-width: 500px) {
  header.big-screen nav {
    padding: 0px 0px 0 115px;
  }
}

@media only screen and (max-width: 400px) {
  header.big-screen nav {
    padding: 0px 0px 0 95px;
  }
}

@media only screen and (max-width: 360px) {
  header.big-screen nav {
    padding: 0px 0px 0 84px;
  }
}

header.big-screen nav ul {
  list-style: none;
}

header.big-screen nav ul.menu-items li {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

header.big-screen nav ul.menu-items li:not(:last-child) {
  margin-bottom: 30px;
}

@media only screen and (max-width: 900px) {
  header.big-screen nav ul.menu-items li:not(:last-child) {
    margin-bottom: 28px;
  }
}

@media only screen and (max-width: 700px) {
  header.big-screen nav ul.menu-items li:not(:last-child) {
    margin-bottom: 24px;
  }
}

@media only screen and (max-width: 400px) {
  header.big-screen nav ul.menu-items li:not(:last-child) {
    margin-bottom: 20px;
  }
}

header.big-screen nav ul.menu-items li a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 54px;
  color: #13063D;
  -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
          clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
  -webkit-transition: all 0.5s cubic-bezier(0.77, -0.01, 0.59, 0.87);
  transition: all 0.5s cubic-bezier(0.77, -0.01, 0.59, 0.87);
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
}

@media only screen and (max-width: 1300px) {
  header.big-screen nav ul.menu-items li a {
    font-size: 48px;
  }
}

@media only screen and (max-width: 1000px) {
  header.big-screen nav ul.menu-items li a {
    font-size: 42px;
  }
}

@media only screen and (max-width: 900px) {
  header.big-screen nav ul.menu-items li a {
    font-size: 36px;
  }
}

@media only screen and (max-width: 700px) {
  header.big-screen nav ul.menu-items li a {
    font-size: 34px;
  }
}

@media only screen and (max-width: 400px) {
  header.big-screen nav ul.menu-items li a {
    font-size: 32px;
  }
}

@media only screen and (max-width: 400px) {
  header.big-screen nav ul.menu-items li a {
    font-size: 30px;
  }
}

header.big-screen nav ul.menu-items li::before {
  content: url("../../assets/images/right-arrow-blue.svg");
  position: absolute;
  top: 50%;
  left: -60px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

@media only screen and (max-width: 900px) {
  header.big-screen nav ul.menu-items li::before {
    -webkit-transform: translate(-50%, -50%) scale(0.9);
            transform: translate(-50%, -50%) scale(0.9);
  }
}

@media only screen and (max-width: 700px) {
  header.big-screen nav ul.menu-items li::before {
    -webkit-transform: translate(-50%, -50%) scale(0.8);
            transform: translate(-50%, -50%) scale(0.8);
  }
}

@media only screen and (max-width: 500px) {
  header.big-screen nav ul.menu-items li::before {
    -webkit-transform: translate(-50%, -50%) scale(0.7);
            transform: translate(-50%, -50%) scale(0.7);
    left: -40px;
  }
}

@media only screen and (max-width: 400px) {
  header.big-screen nav ul.menu-items li::before {
    -webkit-transform: translate(-50%, -50%) scale(0.7);
            transform: translate(-50%, -50%) scale(0.7);
    left: -32px;
  }
}

@media only screen and (max-width: 400px) {
  header.big-screen nav ul.menu-items li::before {
    -webkit-transform: translate(-50%, -50%) scale(0.6);
            transform: translate(-50%, -50%) scale(0.6);
    left: -25px;
  }
}

header.big-screen nav ul.menu-items li:hover::before {
  opacity: 1;
}

header.big-screen nav ul.menu-items li:hover a {
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  color: #007AFF;
  margin-left: 60px;
}

@media only screen and (max-width: 1300px) {
  header.big-screen nav ul.menu-items li:hover a {
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    margin-left: 40px;
  }
}

@media only screen and (max-width: 1000px) {
  header.big-screen nav ul.menu-items li:hover a {
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    margin-left: 30px;
  }
}

header.big-screen nav ul.contact {
  position: absolute;
  bottom: 0%;
  right: 0px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media only screen and (max-width: 1200px) {
  header.big-screen nav ul.contact {
    right: -68px;
  }
}

@media only screen and (max-width: 600px) {
  header.big-screen nav ul.contact {
    position: relative;
    top: 28%;
    left: 50%;
    width: 100%;
    right: 0px;
  }
}

header.big-screen nav ul.contact li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 600px) {
  header.big-screen nav ul.contact li {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

header.big-screen nav ul.contact li p {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  color: #13063D;
  font-weight: 700;
  text-align: right;
  margin-bottom: 10px;
  -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
          clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
  -webkit-transition: all 0.5s cubic-bezier(0.77, -0.01, 0.59, 0.87);
  transition: all 0.5s cubic-bezier(0.77, -0.01, 0.59, 0.87);
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}

@media only screen and (max-width: 1300px) {
  header.big-screen nav ul.contact li p {
    margin-bottom: 6px;
    font-size: 22px;
  }
}

@media only screen and (max-width: 1000px) {
  header.big-screen nav ul.contact li p {
    margin-bottom: 4px;
    font-size: 18px;
  }
}

@media only screen and (max-width: 600px) {
  header.big-screen nav ul.contact li p {
    text-align: left;
  }
}

@media only screen and (max-width: 400px) {
  header.big-screen nav ul.contact li p {
    font-size: 18px;
  }
}

@media only screen and (max-width: 360px) {
  header.big-screen nav ul.contact li p {
    font-size: 17px;
  }
}

header.big-screen nav ul.contact li a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
  color: #3913B8;
  text-align: right;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
          clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
  -webkit-transition: all 0.5s cubic-bezier(0.77, -0.01, 0.59, 0.87);
  transition: all 0.5s cubic-bezier(0.77, -0.01, 0.59, 0.87);
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}

@media only screen and (max-width: 1300px) {
  header.big-screen nav ul.contact li a {
    font-size: 26px;
  }
}

@media only screen and (max-width: 1000px) {
  header.big-screen nav ul.contact li a {
    font-size: 24px;
  }
}

@media only screen and (max-width: 700px) {
  header.big-screen nav ul.contact li a {
    font-size: 22px;
  }
}

@media only screen and (max-width: 600px) {
  header.big-screen nav ul.contact li a {
    text-align: left;
  }
}

@media only screen and (max-width: 400px) {
  header.big-screen nav ul.contact li a {
    font-size: 20px;
  }
}

@media only screen and (max-width: 360px) {
  header.big-screen nav ul.contact li a {
    font-size: 19px;
  }
}

/* MEDIA QUERIES STARTS */
/* 1160px */
/* MEDIA QUERIES ENDS */
/* FOOTER FOR BIG SCREENS */
footer#contact.big-screen {
  width: 100vw;
  height: auto;
  height: auto;
  margin: 0px;
  padding: 20px 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 1100px) {
  footer#contact.big-screen {
    padding: 20px 60px;
  }
}

@media only screen and (max-width: 700px) {
  footer#contact.big-screen {
    padding: 20px 40px;
  }
}

@media only screen and (max-width: 400px) {
  footer#contact.big-screen {
    padding: 20px 30px;
  }
}

footer#contact.big-screen article:not(:last-child) {
  margin-bottom: 60px;
}

@media only screen and (max-width: 500px) {
  footer#contact.big-screen article:not(:last-child) {
    margin-bottom: 40px;
  }
}

footer#contact.big-screen article.upper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-bottom: 100px;
}

@media only screen and (max-width: 500px) {
  footer#contact.big-screen article.upper {
    margin-bottom: 60px;
  }
}

footer#contact.big-screen article.upper h2 {
  width: 40%;
  margin-bottom: 40px;
  text-align: center;
}

@media only screen and (max-width: 1500px) {
  footer#contact.big-screen article.upper h2 {
    width: 50%;
  }
}

@media only screen and (max-width: 1300px) {
  footer#contact.big-screen article.upper h2 {
    width: 60%;
  }
}

@media only screen and (max-width: 1200px) {
  footer#contact.big-screen article.upper h2 {
    width: 50%;
    font-size: 40px;
  }
}

@media only screen and (max-width: 1100px) {
  footer#contact.big-screen article.upper h2 {
    width: 62%;
  }
}

@media only screen and (max-width: 900px) {
  footer#contact.big-screen article.upper h2 {
    width: 70%;
    font-size: 36px;
  }
}

@media only screen and (max-width: 800px) {
  footer#contact.big-screen article.upper h2 {
    width: 80%;
  }
}

@media only screen and (max-width: 700px) {
  footer#contact.big-screen article.upper h2 {
    width: 80%;
    font-size: 34px;
  }
}

@media only screen and (max-width: 600px) {
  footer#contact.big-screen article.upper h2 {
    width: 80%;
    font-size: 28px;
  }
}

@media only screen and (max-width: 600px) {
  footer#contact.big-screen article.upper h2 {
    width: 100%;
    margin-bottom: 36px;
  }
}

@media only screen and (max-width: 360px) {
  footer#contact.big-screen article.upper h2 {
    font-size: 26px;
    line-height: 32px;
  }
}

@media only screen and (max-width: 320px) {
  footer#contact.big-screen article.upper h2 {
    font-size: 25px;
    line-height: 30px;
  }
}

footer#contact.big-screen article.upper p {
  line-height: 30px;
  text-align: center;
}

@media only screen and (max-width: 700px) {
  footer#contact.big-screen article.upper p {
    width: 70%;
  }
}

@media only screen and (max-width: 600px) {
  footer#contact.big-screen article.upper p {
    width: 100%;
  }
}

@media only screen and (max-width: 500px) {
  footer#contact.big-screen article.upper p {
    width: 100%;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
  }
}

@media only screen and (max-width: 320px) {
  footer#contact.big-screen article.upper p {
    font-size: 16px;
    line-height: 26px;
  }
}

footer#contact.big-screen article.mid {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 900px) {
  footer#contact.big-screen article.mid {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media only screen and (max-width: 500px) {
  footer#contact.big-screen article.mid {
    height: 250px;
  }
}

footer#contact.big-screen article.mid .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer#contact.big-screen article.mid .logo a {
  width: 120px;
  height: auto;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

footer#contact.big-screen article.mid .logo a img {
  width: 120px;
  height: auto;
}

footer#contact.big-screen article.mid .contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 500px;
      flex-basis: 500px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 1200px) {
  footer#contact.big-screen article.mid .contact-info {
    -ms-flex-preferred-size: 480px;
        flex-basis: 480px;
  }
}

@media only screen and (max-width: 1000px) {
  footer#contact.big-screen article.mid .contact-info {
    -ms-flex-preferred-size: 440px;
        flex-basis: 440px;
  }
}

@media only screen and (max-width: 950px) {
  footer#contact.big-screen article.mid .contact-info {
    -ms-flex-preferred-size: 400px;
        flex-basis: 400px;
  }
}

@media only screen and (max-width: 900px) {
  footer#contact.big-screen article.mid .contact-info {
    -ms-flex-preferred-size: 220px;
        flex-basis: 220px;
  }
}

@media only screen and (max-width: 500px) {
  footer#contact.big-screen article.mid .contact-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

footer#contact.big-screen article.mid .contact-info .mail-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 900px) {
  footer#contact.big-screen article.mid .contact-info .mail-phone {
    margin-right: 60px;
  }
}

@media only screen and (max-width: 500px) {
  footer#contact.big-screen article.mid .contact-info .mail-phone {
    margin-right: 0px;
    margin-bottom: 30px;
  }
}

footer#contact.big-screen article.mid .contact-info .mail-phone p {
  font-size: 16px;
}

footer#contact.big-screen article.mid .contact-info .mail-phone p:not(:last-child) {
  margin-bottom: 10px;
}

@media only screen and (max-width: 500px) {
  footer#contact.big-screen article.mid .contact-info .mail-phone p {
    font-size: 14px;
  }
}

footer#contact.big-screen article.mid .contact-info .address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer#contact.big-screen article.mid .contact-info .address p {
  font-size: 16px;
}

footer#contact.big-screen article.mid .contact-info .address p:not(:last-child) {
  margin-bottom: 10px;
}

@media only screen and (max-width: 500px) {
  footer#contact.big-screen article.mid .contact-info .address p {
    font-size: 14px;
  }
}

footer#contact.big-screen article.mid .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer#contact.big-screen article.mid .social-icons a {
  width: 22px;
  height: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer#contact.big-screen article.mid .social-icons a:hover {
  -webkit-filter: hue-rotate(264deg) brightness(0.42) saturate(2);
          filter: hue-rotate(264deg) brightness(0.42) saturate(2);
}

footer#contact.big-screen article.mid .social-icons a img {
  width: 100%;
  height: 100%;
}

footer#contact.big-screen article.mid .social-icons a:not(:last-child) {
  margin-right: 16px;
}

footer#contact.big-screen article.lower p {
  font-size: 14px;
  opacity: .5;
}

@media only screen and (max-width: 500px) {
  footer#contact.big-screen article.lower p {
    font-size: 12px;
  }
}

/* MEDIA QUERIES STARTS */
/* 1160px */
/* MEDIA QUERIES ENDS */
main {
  width: 100vw;
  height: auto;
  background-color: #FCFFFF;
  margin: 40px auto 0 auto;
  padding: 0 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 900px) {
  main {
    padding: 0px 60px;
  }
}

@media only screen and (max-width: 600px) {
  main {
    padding: 0px 40px;
  }
}

@media only screen and (max-width: 600px) {
  main {
    padding: 0px 30px;
  }
}

main section#hero {
  width: 100%;
  height: auto;
  margin: 60px 80px 0px 80px;
  padding: 160px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 1550px) {
  main section#hero {
    margin: 60px 60px 0px 60px;
  }
}

@media only screen and (max-width: 1300px) {
  main section#hero {
    padding: 140px 0;
  }
}

@media only screen and (max-width: 1200px) {
  main section#hero {
    padding: 130px 0;
  }
}

@media only screen and (max-width: 1100px) {
  main section#hero {
    padding: 120px 0;
  }
}

@media only screen and (max-width: 1000px) {
  main section#hero {
    padding: 110px 0;
  }
}

@media only screen and (max-width: 900px) {
  main section#hero {
    padding: 100px 0;
  }
}

@media only screen and (max-width: 500px) {
  main section#hero {
    padding: 60px 0;
  }
}

@media only screen and (max-width: 400px) {
  main section#hero {
    margin: 60px auto 0px auto;
  }
}

main section#hero h1 {
  width: 60%;
  margin-bottom: 40px;
  text-align: center;
}

@media only screen and (max-width: 1486px) {
  main section#hero h1 {
    width: 90%;
  }
}

@media only screen and (max-width: 1200px) {
  main section#hero h1 {
    font-size: 48px;
    width: 100%;
  }
}

@media only screen and (max-width: 1000px) {
  main section#hero h1 {
    font-size: 42px;
    line-height: 52px;
  }
}

@media only screen and (max-width: 500px) {
  main section#hero h1 {
    font-size: 36px;
    line-height: 48px;
  }
}

@media only screen and (max-width: 450px) {
  main section#hero h1 {
    font-size: 32px;
    line-height: 40px;
  }
}

@media only screen and (max-width: 400px) {
  main section#hero h1 {
    font-size: 30px;
    line-height: 36px;
  }
}

@media only screen and (max-width: 360px) {
  main section#hero h1 {
    font-size: 26px;
    line-height: 32px;
  }
}

@media only screen and (max-width: 320px) {
  main section#hero h1 {
    font-size: 25px;
    line-height: 30px;
  }
}

main section#hero p {
  line-height: 30px;
  width: 50%;
  text-align: center;
  margin-bottom: 60px;
}

@media only screen and (max-width: 1200px) {
  main section#hero p {
    width: 60%;
  }
}

@media only screen and (max-width: 1000px) {
  main section#hero p {
    width: 80%;
  }
}

@media only screen and (max-width: 500px) {
  main section#hero p {
    width: 100%;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
  }
}

@media only screen and (max-width: 320px) {
  main section#hero p {
    font-size: 16px;
    line-height: 26px;
  }
}

main section#hero a {
  text-decoration: none;
  color: #FFFFFF;
  background-color: #FF5A6D;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  height: 40px;
  width: 200px;
  padding: 12px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

main section#hero a:hover {
  background-color: #3913B8;
}

main section#hero a img {
  -webkit-animation: moveToRight 1.4s ease 0s infinite;
          animation: moveToRight 1.4s ease 0s infinite;
}

main section#about {
  width: 100%;
  height: auto;
  margin: 0px 80px 80px 80px;
  padding: 80px 0 160px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 1550px) {
  main section#about {
    margin: 0px 60px 0px 60px;
  }
}

@media only screen and (max-width: 1300px) {
  main section#about {
    padding: 60px 0 140px 0;
  }
}

@media only screen and (max-width: 1200px) {
  main section#about {
    padding: 60px 0 130px 0;
  }
}

@media only screen and (max-width: 1100px) {
  main section#about {
    padding: 60px 0 120px 0;
  }
}

@media only screen and (max-width: 1000px) {
  main section#about {
    padding: 60px 0 110px 0;
  }
}

@media only screen and (max-width: 900px) {
  main section#about {
    padding: 60px 0 100px 0;
  }
}

@media only screen and (max-width: 500px) {
  main section#about {
    padding: 60px 0 60px 0;
  }
}

@media only screen and (max-width: 400px) {
  main section#about {
    margin: 0px auto 0px auto;
  }
}

main section#about h2 {
  width: 56%;
  margin-bottom: 80px;
  text-align: center;
}

@media only screen and (max-width: 1500px) {
  main section#about h2 {
    width: 50%;
  }
}

@media only screen and (max-width: 1300px) {
  main section#about h2 {
    width: 60%;
  }
}

@media only screen and (max-width: 1200px) {
  main section#about h2 {
    width: 70%;
    font-size: 40px;
  }
}

@media only screen and (max-width: 1000px) {
  main section#about h2 {
    width: 80%;
  }
}

@media only screen and (max-width: 900px) {
  main section#about h2 {
    width: 70%;
    font-size: 36px;
  }
}

@media only screen and (max-width: 700px) {
  main section#about h2 {
    width: 80%;
    font-size: 34px;
  }
}

@media only screen and (max-width: 600px) {
  main section#about h2 {
    width: 100%;
    font-size: 28px;
    margin-bottom: 60px;
  }
}

@media only screen and (max-width: 360px) {
  main section#about h2 {
    font-size: 26px;
    line-height: 32px;
    margin-bottom: 40px;
  }
}

@media only screen and (max-width: 320px) {
  main section#about h2 {
    font-size: 25px;
    line-height: 30px;
  }
}

main section#about p {
  line-height: 30px;
  width: 56%;
  text-align: center;
}

main section#about p:not(:last-child) {
  margin-bottom: 40px;
}

@media only screen and (max-width: 1500px) {
  main section#about p {
    width: 80%;
  }
}

@media only screen and (max-width: 1100px) {
  main section#about p {
    width: 90%;
  }
}

@media only screen and (max-width: 600px) {
  main section#about p {
    font-size: 18px;
  }
}

@media only screen and (max-width: 600px) {
  main section#about p {
    text-align: left;
  }
}

@media only screen and (max-width: 500px) {
  main section#about p {
    width: 100%;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
  }
}

@media only screen and (max-width: 320px) {
  main section#about p {
    font-size: 16px;
    line-height: 26px;
  }
}

main section#services {
  width: 100%;
  height: auto;
  margin: 0px 80px 80px 80px;
  padding: 0px 0 160px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 1550px) {
  main section#services {
    margin: 0px 60px 0px 60px;
  }
}

@media only screen and (max-width: 1300px) {
  main section#services {
    padding: 60px 0 140px 0;
  }
}

@media only screen and (max-width: 1200px) {
  main section#services {
    padding: 60px 0 130px 0;
  }
}

@media only screen and (max-width: 1100px) {
  main section#services {
    padding: 60px 0 120px 0;
  }
}

@media only screen and (max-width: 1000px) {
  main section#services {
    padding: 60px 0 110px 0;
  }
}

@media only screen and (max-width: 900px) {
  main section#services {
    padding: 60px 0 100px 0;
  }
}

@media only screen and (max-width: 500px) {
  main section#services {
    padding: 60px 0 60px 0;
  }
}

@media only screen and (max-width: 400px) {
  main section#services {
    margin: 0px 40px 0px 40px;
  }
}

main section#services h2 {
  width: 56%;
  margin-bottom: 100px;
  text-align: center;
}

@media only screen and (max-width: 1500px) {
  main section#services h2 {
    width: 50%;
  }
}

@media only screen and (max-width: 1300px) {
  main section#services h2 {
    width: 60%;
  }
}

@media only screen and (max-width: 1200px) {
  main section#services h2 {
    width: 70%;
    font-size: 40px;
  }
}

@media only screen and (max-width: 1000px) {
  main section#services h2 {
    width: 80%;
  }
}

@media only screen and (max-width: 900px) {
  main section#services h2 {
    width: 70%;
    font-size: 36px;
  }
}

@media only screen and (max-width: 700px) {
  main section#services h2 {
    width: 80%;
    font-size: 34px;
  }
}

@media only screen and (max-width: 600px) {
  main section#services h2 {
    width: 100%;
    font-size: 28px;
    margin-bottom: 60px;
  }
}

@media only screen and (max-width: 360px) {
  main section#services h2 {
    font-size: 26px;
    line-height: 32px;
    margin-bottom: 40px;
  }
}

@media only screen and (max-width: 320px) {
  main section#services h2 {
    font-size: 25px;
    line-height: 30px;
  }
}

main section#services .services-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  grid-gap: 80px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 1250px) {
  main section#services .services-container {
    grid-gap: 60px;
  }
}

@media only screen and (max-width: 1150px) {
  main section#services .services-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 800px) {
  main section#services .services-container {
    grid-gap: 40px;
  }
}

@media only screen and (max-width: 500px) {
  main section#services .services-container {
    grid-row-gap: 40px;
    grid-column-gap: 0px;
    -ms-grid-columns: 260px;
        grid-template-columns: 260px;
    -ms-grid-rows: (auto)[4];
        grid-template-rows: repeat(4, auto);
  }
}

main section#services .services-container article.service {
  width: 500px;
  height: 100%;
  -webkit-box-shadow: 0px 25px 50px rgba(37, 24, 83, 0.07);
          box-shadow: 0px 25px 50px rgba(37, 24, 83, 0.07);
  background-color: #FCFFFF;
  padding: 0 30px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  overflow: hidden;
}

@media only screen and (max-width: 1550px) {
  main section#services .services-container article.service {
    width: 480px;
  }
}

@media only screen and (max-width: 1250px) {
  main section#services .services-container article.service {
    width: 460px;
    height: 160px;
  }
}

@media only screen and (max-width: 1150px) {
  main section#services .services-container article.service {
    width: 500px;
    height: 100%;
  }
}

@media only screen and (max-width: 600px) {
  main section#services .services-container article.service {
    width: 460px;
    height: 160px;
  }
}

@media only screen and (max-width: 550px) {
  main section#services .services-container article.service {
    width: 400px;
    height: 140px;
    padding: 0 20px 0 0;
  }
}

@media only screen and (max-width: 500px) {
  main section#services .services-container article.service {
    width: 260px;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 0px 0 0;
  }
}

main section#services .services-container article.service img.service__pattern {
  width: 168px;
  height: 100%;
  margin-right: 30px;
}

@media only screen and (max-width: 1250px) {
  main section#services .services-container article.service img.service__pattern {
    width: 160px;
    height: 160px;
  }
}

@media only screen and (max-width: 550px) {
  main section#services .services-container article.service img.service__pattern {
    margin-right: 20px;
    width: 140px;
    height: 140px;
  }
}

@media only screen and (max-width: 500px) {
  main section#services .services-container article.service img.service__pattern {
    width: 264px;
    height: 264px;
    margin-right: 0px;
  }
}

main section#services .services-container article.service div.service__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media only screen and (max-width: 500px) {
  main section#services .services-container article.service div.service__info {
    padding: 22px;
  }
}

main section#services .services-container article.service div.service__info h3 {
  margin-bottom: 15px;
}

@media only screen and (max-width: 1250px) {
  main section#services .services-container article.service div.service__info h3 {
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 1150px) {
  main section#services .services-container article.service div.service__info h3 {
    margin-bottom: 15px;
  }
}

@media only screen and (max-width: 600px) {
  main section#services .services-container article.service div.service__info h3 {
    margin-bottom: 10px;
    font-size: 18px;
  }
}

@media only screen and (max-width: 500px) {
  main section#services .services-container article.service div.service__info h3 {
    font-size: 19px;
    margin-bottom: 12px;
  }
}

main section#services .services-container article.service div.service__info p {
  font-size: 14px;
  line-height: 17px;
}

@media only screen and (max-width: 500px) {
  main section#services .services-container article.service div.service__info p {
    font-size: 15px;
    line-height: 21px;
  }
}

main section#services .services-container article.service a {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 9px;
  height: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section#services .services-container article.service a img.right-arrow {
  width: 9px;
  height: 12px;
}

main section#projects {
  width: 100%;
  height: auto;
  margin: 0px 80px 80px 80px;
  padding: 0px 0 160px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 1550px) {
  main section#projects {
    margin: 0px 60px 0px 60px;
  }
}

@media only screen and (max-width: 1300px) {
  main section#projects {
    padding: 60px 0 140px 0;
  }
}

@media only screen and (max-width: 1200px) {
  main section#projects {
    padding: 60px 0 130px 0;
  }
}

@media only screen and (max-width: 1100px) {
  main section#projects {
    padding: 60px 0 120px 0;
  }
}

@media only screen and (max-width: 1000px) {
  main section#projects {
    padding: 60px 0 110px 0;
  }
}

@media only screen and (max-width: 900px) {
  main section#projects {
    padding: 60px 0 100px 0;
  }
}

@media only screen and (max-width: 500px) {
  main section#projects {
    padding: 60px 0 60px 0;
  }
}

@media only screen and (max-width: 400px) {
  main section#projects {
    margin: 0px 40px 0px 40px;
  }
}

main section#projects h2 {
  width: 40%;
  margin-bottom: 100px;
  text-align: center;
}

@media only screen and (max-width: 1500px) {
  main section#projects h2 {
    width: 50%;
  }
}

@media only screen and (max-width: 1300px) {
  main section#projects h2 {
    width: 60%;
  }
}

@media only screen and (max-width: 1200px) {
  main section#projects h2 {
    width: 70%;
    font-size: 40px;
  }
}

@media only screen and (max-width: 1000px) {
  main section#projects h2 {
    width: 80%;
  }
}

@media only screen and (max-width: 900px) {
  main section#projects h2 {
    width: 70%;
    font-size: 36px;
  }
}

@media only screen and (max-width: 700px) {
  main section#projects h2 {
    width: 80%;
    font-size: 34px;
  }
}

@media only screen and (max-width: 600px) {
  main section#projects h2 {
    width: 90%;
    font-size: 28px;
    margin-bottom: 60px;
  }
}

@media only screen and (max-width: 360px) {
  main section#projects h2 {
    font-size: 26px;
    line-height: 32px;
    margin-bottom: 40px;
  }
}

@media only screen and (max-width: 320px) {
  main section#projects h2 {
    font-size: 25px;
    line-height: 30px;
  }
}

main section#projects .projects-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 60px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 1550px) {
  main section#projects .projects-container {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 800px) {
  main section#projects .projects-container {
    grid-gap: 40px;
  }
}

@media only screen and (max-width: 700px) {
  main section#projects .projects-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

main section#projects .projects-container article.project {
  width: 300px;
  height: auto;
  -webkit-box-shadow: 1px 25px 25px -5px rgba(57, 19, 184, 0.05);
          box-shadow: 1px 25px 25px -5px rgba(57, 19, 184, 0.05);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  position: relative;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

@media only screen and (max-width: 1550px) {
  main section#projects .projects-container article.project {
    width: 360px;
  }
}

@media only screen and (max-width: 900px) {
  main section#projects .projects-container article.project {
    width: 300px;
  }
}

@media only screen and (max-width: 800px) {
  main section#projects .projects-container article.project {
    width: 260px;
  }
}

@media only screen and (max-width: 700px) {
  main section#projects .projects-container article.project {
    width: 360px;
  }
}

@media only screen and (max-width: 450px) {
  main section#projects .projects-container article.project {
    width: 300px;
  }
}

@media only screen and (max-width: 360px) {
  main section#projects .projects-container article.project {
    width: 260px;
  }
}

@media only screen and (max-width: 320px) {
  main section#projects .projects-container article.project {
    width: 230px;
  }
}

main section#projects .projects-container article.project:hover {
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
  -webkit-box-shadow: none;
          box-shadow: none;
}

main section#projects .projects-container article.project img.project__image {
  width: 100%;
  height: auto;
}

main section#projects .projects-container article.project:nth-child(1) div.project__info {
  background-color: #007AFF;
}

main section#projects .projects-container article.project:nth-child(2) div.project__info {
  background-color: #FF5A6D;
}

main section#projects .projects-container article.project:nth-child(3) div.project__info {
  background-color: #3913B8;
}

main section#projects .projects-container article.project:nth-child(4) div.project__info {
  background-color: #00c6d2;
}

main section#projects .projects-container article.project div.project__info {
  padding: 36px 36px 50px 36px;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: absolute;
  top: 154%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

@media only screen and (max-width: 360px) {
  main section#projects .projects-container article.project div.project__info {
    padding: 24px 24px 40px 24px;
  }
}

main section#projects .projects-container article.project div.project__info h3 {
  margin-bottom: 15px;
  color: #FFFFFF;
}

main section#projects .projects-container article.project div.project__info p {
  font-size: 14px;
  color: #FFFFFF;
  line-height: 18px;
}

main section#projects .projects-container article.project div.project__info a {
  position: absolute;
  bottom: 20px;
  right: 30px;
  width: 47px;
  height: 17px;
  opacity: 0;
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

main section#projects .projects-container article.project div.project__info a img.right-arrow {
  width: 47px;
  height: 17px;
}

main section#projects .projects-container article.project:hover div.project__info {
  top: 50%;
}

main section#projects .projects-container article.project:hover div.project__info a {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-animation: moveToRight 1.4s ease 0s infinite;
          animation: moveToRight 1.4s ease 0s infinite;
}

main section#team {
  width: 100%;
  height: auto;
  margin: 0px 80px 80px 80px;
  padding: 0px 0 160px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 1550px) {
  main section#team {
    margin: 0px 60px 0px 60px;
  }
}

@media only screen and (max-width: 1300px) {
  main section#team {
    padding: 60px 0 140px 0;
  }
}

@media only screen and (max-width: 1200px) {
  main section#team {
    padding: 60px 0 130px 0;
  }
}

@media only screen and (max-width: 1100px) {
  main section#team {
    padding: 60px 0 120px 0;
  }
}

@media only screen and (max-width: 1000px) {
  main section#team {
    padding: 60px 0 110px 0;
  }
}

@media only screen and (max-width: 900px) {
  main section#team {
    padding: 60px 0 100px 0;
  }
}

@media only screen and (max-width: 500px) {
  main section#team {
    padding: 60px 0 60px 0;
  }
}

@media only screen and (max-width: 400px) {
  main section#team {
    margin: 0px 40px 0px 40px;
  }
}

main section#team h2 {
  width: 40%;
  margin-bottom: 100px;
  text-align: center;
}

@media only screen and (max-width: 1200px) {
  main section#team h2 {
    font-size: 40px;
  }
}

@media only screen and (max-width: 1100px) {
  main section#team h2 {
    width: 90%;
  }
}

@media only screen and (max-width: 600px) {
  main section#team h2 {
    width: 100%;
    font-size: 28px;
    margin-bottom: 60px;
  }
}

@media only screen and (max-width: 360px) {
  main section#team h2 {
    font-size: 26px;
    line-height: 32px;
    margin-bottom: 40px;
  }
}

@media only screen and (max-width: 320px) {
  main section#team h2 {
    font-size: 25px;
    line-height: 30px;
  }
}

main section#team .members-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 60px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 1550px) {
  main section#team .members-container {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 1350px) {
  main section#team .members-container {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 1050px) {
  main section#team .members-container {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 800px) {
  main section#team .members-container {
    grid-gap: 40px;
  }
}

@media only screen and (max-width: 600px) {
  main section#team .members-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

main section#team .members-container article.member {
  width: 230px;
  height: auto;
  -webkit-box-shadow: 0px 25px 50px rgba(37, 24, 83, 0.07);
          box-shadow: 0px 25px 50px rgba(37, 24, 83, 0.07);
  background-color: #FCFFFF;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

main section#team .members-container article.member:hover {
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
  -webkit-box-shadow: 1px 4px 4px 1px rgba(57, 19, 184, 0.05);
          box-shadow: 1px 4px 4px 1px rgba(57, 19, 184, 0.05);
}

main section#team .members-container article.member img.member__image {
  width: 112px;
  height: 112px;
  margin-bottom: 30px;
}

main section#team .members-container article.member div.member__info {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section#team .members-container article.member div.member__info p.paragraph.paragraph--bold {
  margin-bottom: 8px;
  font-size: 16px;
  color: #13063D;
}

@media only screen and (max-width: 500px) {
  main section#team .members-container article.member div.member__info p.paragraph.paragraph--bold {
    font-size: 18px;
  }
}

main section#team .members-container article.member div.member__info p.paragraph.paragraph--regular {
  margin-bottom: 12px;
  font-size: 14px;
  color: #13063D;
  line-height: 18px;
}

@media only screen and (max-width: 500px) {
  main section#team .members-container article.member div.member__info p.paragraph.paragraph--regular {
    font-size: 16px;
    margin-bottom: 14px;
  }
}

main section#team .members-container article.member div.member__info .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40%;
}

@media only screen and (max-width: 500px) {
  main section#team .members-container article.member div.member__info .social-icons {
    width: 60%;
  }
}

main section#team .members-container article.member div.member__info .social-icons a {
  width: 16px;
  height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 500px) {
  main section#team .members-container article.member div.member__info .social-icons a {
    width: 22px;
    height: 22px;
  }
}

main section#team .members-container article.member div.member__info .social-icons a:hover {
  -webkit-filter: hue-rotate(264deg) brightness(0.42) saturate(2);
          filter: hue-rotate(264deg) brightness(0.42) saturate(2);
}

main section#team .members-container article.member div.member__info .social-icons a img {
  width: 100%;
  height: 100%;
}
/*# sourceMappingURL=home.css.map */