@-webkit-keyframes moveToRight {
  50% {
    -webkit-transform: translate(8px, 0px);
            transform: translate(8px, 0px);
  }
}

@keyframes moveToRight {
  50% {
    -webkit-transform: translate(8px, 0px);
            transform: translate(8px, 0px);
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #FCFFFF;
  overflow-x: hidden;
}

::-moz-selection {
  background-color: #3913B8;
  color: #FCFFFF;
}

::selection {
  background-color: #3913B8;
  color: #FCFFFF;
}

.hero-pattern {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  height: calc(100vh + 1px);
  width: auto;
  z-index: 9999;
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
}

body {
  font-family: "Roboto", sans-serif;
  color: #13063D;
  font-size: 20px;
}

.heading-primary {
  font-family: "Roboto", sans-serif;
  font-size: 54px;
  line-height: 65px;
  font-weight: 700;
  color: #007AFF;
}

.heading-secondary {
  font-family: "Roboto", sans-serif;
  font-size: 42px;
  font-weight: 700;
  color: #007AFF;
}

.heading-tertiary {
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: 700;
  color: #13063D;
}

.paragraph {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  color: #13063D;
}

.paragraph--regular {
  font-weight: 400;
}

.paragraph--medium {
  font-weight: 500;
}

.paragraph--bold {
  font-weight: 700;
}

/* HEADER FOR BIG SCREENS */
header.big-screen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #FCFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100vw;
  height: 80px;
  z-index: 999;
  padding: 20px 80px;
}

header.big-screen .logo {
  -ms-flex-preferred-size: 120px;
      flex-basis: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header.big-screen .logo a {
  width: 120px;
  height: auto;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

header.big-screen .logo a img {
  width: 120px;
  height: auto;
}

header.big-screen .menu-btn {
  width: 80px;
}

header.big-screen .menu-btn button {
  width: 80px;
  border: none;
  outline: none;
  background-color: transparent;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #13063D;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
}

header.big-screen .menu-btn button .menu-icon {
  width: 20px;
  height: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 4px 4px 4px;
      grid-template-columns: 4px 4px 4px;
  -ms-grid-rows: 4px 4px 4px;
      grid-template-rows: 4px 4px 4px;
  grid-gap: 4px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header.big-screen .menu-btn button .menu-icon div {
  width: 4px;
  height: 4px;
  background-color: #3913B8;
}

/* HEADER FOR SMALL SCREENS */
header.small-screen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100vw;
  height: 80px;
  z-index: 999;
  padding: 22px 48px;
}

/* MEDIA QUERIES STARTS */
/* 1160px */
@media only screen and (max-width: 1160px) {
  header.big-screen {
    display: none;
  }
  header.small-screen {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

/* 1161px */
@media only screen and (min-width: 1161px) {
  header.big-screen {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header.small-screen {
    display: none;
  }
}

/* MEDIA QUERIES ENDS */
/* FOOTER FOR BIG SCREENS */
footer#contact.big-screen {
  width: 100vw;
  height: auto;
  height: auto;
  margin: 0px;
  padding: 20px 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer#contact.big-screen article:not(:last-child) {
  margin-bottom: 60px;
}

footer#contact.big-screen article.upper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-bottom: 100px;
}

footer#contact.big-screen article.upper h2 {
  width: 40%;
  margin-bottom: 40px;
  text-align: center;
}

footer#contact.big-screen article.upper p {
  line-height: 30px;
  text-align: center;
}

footer#contact.big-screen article.mid {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer#contact.big-screen article.mid .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer#contact.big-screen article.mid .logo a {
  width: 120px;
  height: auto;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

footer#contact.big-screen article.mid .logo a img {
  width: 120px;
  height: auto;
}

footer#contact.big-screen article.mid .contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 500px;
      flex-basis: 500px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer#contact.big-screen article.mid .contact-info .mail-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer#contact.big-screen article.mid .contact-info .mail-phone p {
  font-size: 16px;
}

footer#contact.big-screen article.mid .contact-info .mail-phone p:not(:last-child) {
  margin-bottom: 10px;
}

footer#contact.big-screen article.mid .contact-info .address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer#contact.big-screen article.mid .contact-info .address p {
  font-size: 16px;
}

footer#contact.big-screen article.mid .contact-info .address p:not(:last-child) {
  margin-bottom: 10px;
}

footer#contact.big-screen article.mid .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer#contact.big-screen article.mid .social-icons a {
  width: 22px;
  height: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer#contact.big-screen article.mid .social-icons a:hover {
  -webkit-filter: hue-rotate(264deg) brightness(0.42) saturate(2);
          filter: hue-rotate(264deg) brightness(0.42) saturate(2);
}

footer#contact.big-screen article.mid .social-icons a img {
  width: 100%;
  height: 100%;
}

footer#contact.big-screen article.mid .social-icons a:not(:last-child) {
  margin-right: 16px;
}

footer#contact.big-screen article.lower p {
  font-size: 14px;
  opacity: .5;
}

/* FOOTER FOR SMALL SCREENS */
footer.small-screen {
  width: 100vw;
  height: auto;
  margin: 0 auto;
  padding: 0px 0;
}

/* MEDIA QUERIES STARTS */
/* 1160px */
@media only screen and (max-width: 1160px) {
  footer.big-screen {
    display: none;
  }
  footer.small-screen {
    display: block;
  }
}

/* 1161px */
@media only screen and (min-width: 1161px) {
  footer.big-screen {
    display: block;
  }
  footer.small-screen {
    display: none;
  }
}

/* MEDIA QUERIES ENDS */
main {
  width: 100vw;
  height: auto;
  background-color: #FCFFFF;
  margin: 40px auto 0 auto;
  padding: 0 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section#hero {
  width: 100%;
  height: auto;
  margin: 60px 80px 0px 80px;
  padding: 160px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section#hero h1 {
  width: 60%;
  margin-bottom: 40px;
  text-align: center;
}

main section#hero p {
  line-height: 30px;
  width: 50%;
  text-align: center;
  margin-bottom: 60px;
}

main section#hero a {
  text-decoration: none;
  color: #FFFFFF;
  background-color: #FF5A6D;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  height: 40px;
  width: 200px;
  padding: 12px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

main section#hero a:hover {
  background-color: #3913B8;
}

main section#hero a img {
  -webkit-animation: moveToRight 1.4s ease 0s infinite;
          animation: moveToRight 1.4s ease 0s infinite;
}

main section#about {
  width: 100%;
  height: auto;
  margin: 0px 80px 80px 80px;
  padding: 80px 0 160px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section#about h2 {
  width: 56%;
  margin-bottom: 80px;
  text-align: center;
}

main section#about p {
  line-height: 30px;
  width: 56%;
  text-align: center;
}

main section#about p:not(:last-child) {
  margin-bottom: 40px;
}

main section#services {
  width: 100%;
  height: auto;
  margin: 0px 80px 80px 80px;
  padding: 0px 0 160px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section#services h2 {
  width: 56%;
  margin-bottom: 100px;
  text-align: center;
}

main section#services .services-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  grid-gap: 80px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section#services .services-container article.service {
  width: 500px;
  height: 100%;
  -webkit-box-shadow: 0px 25px 50px rgba(57, 19, 184, 0.05);
          box-shadow: 0px 25px 50px rgba(57, 19, 184, 0.05);
  background-color: #FCFFFF;
  padding: 0 30px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

main section#services .services-container article.service img.service__pattern {
  margin-right: 30px;
}

main section#services .services-container article.service div.service__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

main section#services .services-container article.service div.service__info h3 {
  margin-bottom: 15px;
}

main section#services .services-container article.service div.service__info p {
  font-size: 14px;
  line-height: 17px;
}

main section#services .services-container article.service a {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 9px;
  height: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section#services .services-container article.service a img.right-arrow {
  width: 9px;
  height: 12px;
}

main section#projects {
  width: 100%;
  height: auto;
  margin: 0px 80px 80px 80px;
  padding: 0px 0 160px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section#projects h2 {
  width: 40%;
  margin-bottom: 100px;
  text-align: center;
}

main section#projects .projects-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-content: center;
  align-items: center;
}

main section#projects .projects-container article.project {
  width: 300px;
  height: auto;
  background-color: #007AFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  position: relative;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

main section#projects .projects-container article.project:not(:last-child) {
  margin-right: 60px;
}

main section#projects .projects-container article.project:hover {
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

main section#projects .projects-container article.project img.project__image {
  width: 100%;
  height: auto;
  opacity: .96;
}

main section#projects .projects-container article.project:nth-child(1) div.project__info {
  background-color: #007AFF;
}

main section#projects .projects-container article.project:nth-child(2) div.project__info {
  background-color: #FF5A6D;
}

main section#projects .projects-container article.project:nth-child(3) div.project__info {
  background-color: #3913B8;
}

main section#projects .projects-container article.project:nth-child(4) div.project__info {
  background-color: #00c6d2;
}

main section#projects .projects-container article.project div.project__info {
  padding: 36px 36px 50px 36px;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: absolute;
  top: 154%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

main section#projects .projects-container article.project div.project__info h3 {
  margin-bottom: 15px;
  color: #FFFFFF;
}

main section#projects .projects-container article.project div.project__info p {
  font-size: 14px;
  color: #FFFFFF;
  line-height: 18px;
}

main section#projects .projects-container article.project div.project__info a {
  position: absolute;
  bottom: 20px;
  right: 30px;
  width: 47px;
  height: 17px;
  opacity: 0;
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

main section#projects .projects-container article.project div.project__info a img.right-arrow {
  width: 47px;
  height: 17px;
}

main section#projects .projects-container article.project:hover div.project__info {
  top: 50%;
}

main section#projects .projects-container article.project:hover div.project__info a {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-animation: moveToRight 1.4s ease 0s infinite;
          animation: moveToRight 1.4s ease 0s infinite;
}

main section#team {
  width: 100%;
  height: auto;
  margin: 0px 80px 80px 80px;
  padding: 0px 0 160px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section#team h2 {
  width: 40%;
  margin-bottom: 100px;
  text-align: center;
}

main section#team .members-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-content: center;
  align-items: center;
}

main section#team .members-container article.member {
  width: 230px;
  height: auto;
  -webkit-box-shadow: 0px 25px 50px rgba(57, 19, 184, 0.05);
          box-shadow: 0px 25px 50px rgba(57, 19, 184, 0.05);
  background-color: #FCFFFF;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

main section#team .members-container article.member:not(:last-child) {
  margin-right: 60px;
}

main section#team .members-container article.member:hover {
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
  -webkit-box-shadow: 1px 4px 4px 1px rgba(57, 19, 184, 0.05);
          box-shadow: 1px 4px 4px 1px rgba(57, 19, 184, 0.05);
}

main section#team .members-container article.member img.member__image {
  width: 112px;
  height: 112px;
  margin-bottom: 30px;
}

main section#team .members-container article.member div.member__info {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section#team .members-container article.member div.member__info p.paragraph.paragraph--bold {
  margin-bottom: 8px;
  font-size: 16px;
  color: #13063D;
}

main section#team .members-container article.member div.member__info p.paragraph.paragraph--regular {
  margin-bottom: 12px;
  font-size: 14px;
  color: #13063D;
  line-height: 18px;
}

main section#team .members-container article.member div.member__info .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40%;
}

main section#team .members-container article.member div.member__info .social-icons a {
  width: 16px;
  height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section#team .members-container article.member div.member__info .social-icons a:hover {
  -webkit-filter: hue-rotate(264deg) brightness(0.42) saturate(2);
          filter: hue-rotate(264deg) brightness(0.42) saturate(2);
}

main section#team .members-container article.member div.member__info .social-icons a img {
  width: 100%;
  height: 100%;
}
/*# sourceMappingURL=home.css.map */